{{ form_start(form, {'attr': {'class': 'container'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.body) }}
    {{ form_row(form.doneAt) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.category) }}
    {{ form_row(form.imageFile) }}
<button type="submit" class="btn">Edit</button>
{{ form_end(form) }}