<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ encore_entry_link_tags('style') }}
        {{ encore_entry_link_tags('bundles') }}
        <link rel="stylesheet" href="{{ asset('build/sm.css') }}" media="screen and (min-width: 600px)">
        <link rel="stylesheet" href="{{ asset('build/md.css') }}" media="screen and (min-width: 900px)">
        <link rel="stylesheet" href="{{ asset('build/md-l.css') }}" media="screen and (min-width: 900px) and (orientation: landscape)">
        <link rel="stylesheet" href="{{ asset('build/lg.css') }}" media="screen and (min-width: 1200px)">
        <link rel="stylesheet" href="{{ asset('build/xl.css') }}" media="screen and (min-width: 1800px)">
        <link rel="stylesheet" href="{{ asset('build/hover.css') }}" media="screen and (hover: hover)">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <div class="container">
            {% include '_modules/header.html.twig' %}
            {% block body %}{% endblock %}
            {% include '_modules/footer.html.twig' %}
        </div>
        <div class="loading">
            <div class="loader"></div>
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
