{% extends 'base.html.twig' %}

{% block title 'CMS - Projets' %}

{% block body %}
    <main class="content">
        <section class="content__section">
            <p class="text--overline">Project web & software</p>
            <h1 class="title title--1 mb-2">Projets</h1>

            <p class="text text--secondary mb-3">Voici les différents projets sur lesquels j'ai pu travailler.</p>

            <div class="article-holder">
                {% for project in projects %}
                    <article class="article" data-scroll>
                        {% if project.filename %}
                            <div class="article__image__container">
                                <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('article_image') }}" alt="A super image" class="article__image elevation-1">
                            </div>
                        {% else %}
                            <div class="article__image__container">
                                <img src="{{ asset('images/projects/no.jpg') | imagine_filter('article_image') }}" alt="Default image" class="article__image elevation-1">
                            </div>
                        {% endif %}
                        <div class="article__body">
                            <p class="text--overline">{{ project.category ? project.category.name : '' }}</p>
                            <h2 class="title title--3 title--underline mb-2 mr-auto">{{ project.title }}</h2>
                            <p class="text text--secondary mb-1">{{ project.description }}</p>
                            <ul class="article__enumeration mb-2">
                                {% for tag in project.tags %}
                                    <li class="article__enumeration__item text--hashtag">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            <a href="#" class="btn btn--primary btn--large">En savoir plus</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
